main {
    padding-left: 60px;
    
    .content-left {
        margin-left: 10px;
    }
    
    .steps{
        width: 660px;
        padding-left: 0px;
        margin-top: 80px;
        text-align: center;
        font-weight: 700;
      li{
        display: inline-block;
        color: white;
        padding: 0 26px;
        position: relative;
        z-index: 2;
        &.active{
          a{
              background: #F37926;
              display: none;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: inline-block;
              }
          }
        }

          &.checked{
            a{
              background: #F37926;
              display: inline-block;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: none;
              }
            }
          }
        a{
          color: white;
          padding: 3px;
          background: #AFAFAF;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          display: none;
              &:first-child {
                  display: inline-block;
              }
          &::after {
                content: '';
                border-top: 3px solid #AFAFAF;
                position: absolute;
                width: 100%;
                z-index: -1;
                top: 12px;
                right: 31px;
          }
        } 
        &:first-child{
          a{
            &::after{
              display:none;
            }
          }
        }

      }
    }
    .form-control {
        display: inline-block;
    }
    
    input[type=text]{  
//        width: 600px;
        padding-left: 10px;
        height: 50px;
        border: 0;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
            font-size: 22px;
        color: #AEAEB1;
        &.shortfields {
            width: 210px;
            margin-right: 15px;
        }
     
    }
    
    select{
        font-weight: 300;    
    }
    
    .campaign-form{
        width: 600px;
    }
    .plus {
        width: 29px;
        height: 28px;
        background: url("../../img/plus.png");
//        display: inline-block;
        display: table-cell;
        position: absolute;
        cursor: pointer;
        margin: 10px;
//        margin-left: 28px;
        top: 0px;
        right: 0px;
        background-repeat: no-repeat;
    }
    
    .tags {
        width: 600px;
        background: white;
        position: relative;
        input[type=text]{
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            display: inline-block;
            font-size: 22px;

    }
    margin-top: 10px;
    margin-bottom: 10px;

    }
}