main {
    padding-left: 60px;
    @media screen and (max-width: 992px) {
        width: 100%;
        padding: 0px 10px;
    }
    .content-left {
        margin-left: 30px;
        max-width: 600px;
        &.images-container{
            max-width: 810px;
            margin-left: 15px;
        }
        @media screen and  (max-width: 992px) {
            width: 100%;
            margin-left: 0px;
            
        } 
    }
    
    hr {
        @media screen and  (max-width: 992px) {
            display: none;
        }
    }
    td {
        a{
            color: #F37926 !important;   
        }
            
    }

    
    .steps{
        width: 660px;
        padding-left: 0px;
        margin-top: 80px;
        text-align: center;
        font-weight: 700;
        @media screen and (max-width: 480px) {
            width: 400px;
            margin-left: -10px;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 550px;
            margin-left: -5px;
        }
        
      li{
        display: inline-block;
        color: white;
        padding: 0 26px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 480px) {
            padding: 0 11px;
        } 
        @media screen and (min-width: 481px) and (max-width: 768px) {
            padding: 0 18px;
        }
          
        &.active{
          a{
              background: #F37926;
              display: none;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: inline-block;
              }
          }
        }

          &.checked{
            a{
              background: #F37926;
              display: inline-block;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: none;
              }
            }
          }
        a{
          color: white;
          padding: 3px;
          background: #AFAFAF;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          display: none;
          @media screen and (max-width: 480px) {
            width: 22px;
            height: 22px;
          } 
              &:first-child {
                  display: inline-block;
              }
          &::after {
                content: '';
                border-top: 3px solid #AFAFAF;
                position: absolute;
                width: 100%;
                z-index: -1;
                top: 12px;
                right: 31px;
                @media screen and (max-width: 480px) {
                    top: 9px;
                    right: 16px;
                } 
                @media screen and (min-width: 481px) and (max-width: 768px) {
                    top: 12px;
                    right: 22px;
                } 
          }
        } 
        &:first-child{
          a{
            &::after{
              display:none;
            }
          }
        }

      }

    }
    
    .images-span {
        @media screen and (max-width: 480px) {
            width: auto;
        } 
    }
    
    .select-custom {
        width: 100%;
        select {
            width: 100%;
        }
    }
    .form-control {
        display: inline-block;
    }
    
    input[type=text]{  
//        width: 600px;
        padding-left: 10px;
        height: 50px;
        border: 0;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
            font-size: 22px;
        color: #AEAEB1;
        &.shortfields {
            width: 210px;
            margin-right: 15px;
        }
     
    }
    .close{
        opacity:1;    
    }
    
    textarea {
        width: 100%;
    }
    
    select{
        width: 100%;
        font-weight: 300;    
    }
    
    .campaign-form{
        width: 100%;
    }
    
    .plus {
        width: 29px;
        height: 28px;
        background: url("../../img/plus.png");
//        display: inline-block;
        display: table-cell;
        position: absolute;
        cursor: pointer;
        margin: 10px;
//        margin-left: 28px;
        top: 0px;
        right: 0px;
        background-repeat: no-repeat;
    }
    
    .date-icon {
        display: table-cell;
        top: 0px;
        right: 0px;
    }
    
    .video-link {
        display: table-cell;
        top: 0px;
        right: 0px;
    }
    
    .tags {
        width: 100%;
        background: white;
        position: relative;
        input[type=text]{
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            display: inline-block;
            font-size: 22px;

    }
    margin-top: 10px;
    margin-bottom: 10px;

    }
    
    .help-right {
        width: 360px;
        margin-left: 200px;
        margin-bottom: 50px;
        @media screen  and (max-width: 768px) {
            width: 93% !important; 
            clear: both;
            margin-bottom: 50px;
            margin: 0 15px 50px 15px !important;
        } 
        @media screen and (min-width: 769px) and (max-width: 992px) {
            width: 550px; 
            clear: both;
            margin-left: 10px;
            margin-bottom: 50px;
        }
        
        &.images-help {
            width: 330px;
            margin-left: 70px;
        }
        
    }
    .image-gallery {
        width: 100%
    }
    
    .short-select {
        width: 270px;
    }
    
    .reward-container{
        width: 100%;
        margin-left: 0;
    }
    
    .reward-add {
        @media screen and (max-width: 480px){
            width: 175px;
        }
    }
    
    .table-responsive {
        border: 0;
    }
    
    .upload-image {
        float: right;
        margin-right: 20px;
    }
    
    .review-help{
        margin-left: 40px;
    }
}