html body {
    font-family: 'Open Sans', sans-serif;
}


.header-full-width-opaque {
    position: relative;
    z-index: 101;
    width: 100%;
    background-color: #434443;
    .user {
        background-color: #434443;
    }
}

.header-container {
    width: 100%;
    display: block;
    height: 120px;
    /*background-color: #434443;*/
    clear: both;
}

.header-opaque {
    background-color: #434443;
}

.nav-container {
    width: 100%;
    background-color: #F37926;
    height:  40px;
    clear: both;
    }

.main-container {
    width: 100%;
    margin-top: 50px;
    background-color: #E9E9E9;
    clear: both;
    position: relative;
    .top-more{
        position: absolute;
        height: 70px;
        width: 135px;
        background: url("../../img/upside-down-more.png");
        top: -150px;
        left: 0;
        right: 0;
        margin: 0px auto;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
}
a {
    color: #F37926;
}

main {
    margin-top: 50px;
    width: 1320px;
    text-align: left;
    padding-left: 85px;
    font-weight: 300;
    background-color: #E9E9E9;
    color: black;
    margin: 0px auto;
    text-align: justify;

    button {
        background: #F37926;
        padding: 5px 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #F37926;
        width: 220px;
        height: 50px;
    }
    h1 {
        font-weight: 300;
        color: #F37926;
    }
    
    span {
        display: block;
        .guideline-text {
            width: 860px;
        }
        
    }
    
    select {
        border: 0;
        width: 600px;
        height: 50px;
    }
    
    .content-left {
        float: left;
        margin-bottom: 115px;
        width: 820px;
        margin-left: 30px;
    }
    
    .campaign-review {
        width: 600px;
        margin-right: 170px;
        margin-bottom: 120px;
        label {
            color: #F37926;
            margin-left: 10px;
        }
    }
    
    .get-started{
        margin-bottom: 80px;
    }
    .content-right {
        float: left;
        height: 625px;
        width: 390px;
        background-color: #D3D3D3;
        margin-top: 30px;
        margin-left: 70px;
    }
    
    .help-topics {
        float: left;
        display: inline-block;
        width: 320px;
        padding-left: 0px;
        padding-top: 15px;
        text-align: left;
        
        li {
            list-style: none;
            color: #F37926;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
            padding-left: 20px;
            width: 220px;
            padding-right: 80px;
            
       
        }
         .active {
            background: white;
        }

    }
    
    .steps{
        width: 660px;
        padding-left: 0px;
      text-align: center;
      li{
        display: inline-block;
        color: white;
        padding: 0 26px;
        position: relative;
        z-index: 2;
        &.active{
          a{
              background: #F37926;
              display: none;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: inline-block;
              }
          }
        }
          
          &.checked{
            a{
              background: #F37926;
              display: inline-block;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: none;
              }
            }
          }
        a{
          color: white;
          padding: 3px;
          background: #AFAFAF;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: none;
              &:first-child {
                  display: inline-block;
              }
          &::after {
                content: '';
                border-top: 3px solid #AFAFAF;
                position: absolute;
                width: 100%;
                z-index: -1;
                top: 12px;
                right: 31px;
          }
        } 
        &:first-child{
          a{
            &::after{
              display:none;
            }
          }
        }

      }
    }
    
    .topic-description {
        background: white;
        display: inline-block;
        float: left;
        width: 840px;
        padding: 30px;
        img {
            padding-top: 10px;
            width: 840px;
            height: 340px;
        }
    }
    
    .registration-form {
        width: 610px;
        height: 580px;
        margin: 0px auto;
        text-align: center;
        
        input[type=text],
        input[type=password] {
            width: 600px;
            height: 50px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0;
            font-size: 22px;
            color: #AEAEB1;
            
        }
        
    }
    
    input[type=checkbox] {
        background-color: #F37926;
        
    }
    input[type=submit] {
        width: 600px;
        background-color: #F37926;
        border: 0;
        border-radius: 5px;
        height: 50px;
        color: white;
        font-size: 23px;

    }
    
    .checkbox .control-indicator {
        background-color: white;

    }
    input[type=text]:disabled{
            background-color: #E0E0E0;
        }
    input[type=text]{  
        width: 590px;
        padding-left: 10px;
        height: 50px;
        border: 0;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
            font-size: 22px;
        color: #AEAEB1;
        &.shortfields {
            width: 210px;
            margin-right: 15px;
        }
     
    }
    
    .signup-slogan {
        margin-bottom: 30px;
    }
    
    .cancel{
        background-color: #E9E9E9;
        border: 1px solid #F37926;
        color: #F37926;
        border-radius: 5px;
        width: 145px;
        height: 50px;
        margin-right: 5px;
        font-size: 22px;
        
    }
    
    .next {
        background-color: #F37926;
        border: 1px solid #F37926;
        color: white;
        border-radius: 5px;
        width: 145px;
        height: 50px;
        margin: 0 5px;
        font-size: 22px;
    }
    
    .terms-of-use {
        margin-top: 20px;
        font-weight: 500;
        font-size: 15px;
    }
    
    .area-custom {
        position: relative;
        .small-plus {
            width: 20px;
            height: 20px;
            background: url("../../img/plus.png");
            position: absolute;
            bottom: 25px;
            right: 10px;
            background-size: 20px 20px;
            cursor: pointer;
        }
    }
    
    textarea {
        color: #AEAEB1;
        height: 180px;
        padding-left: 10px;
        width: 588px;
        resize: none;
        border: 0;
        font-size: 22px;

    }
    

    

    
    
    textarea:disabled{
        background-color: #E0E0E0;
    }
    
    .field-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .tags {
        width: 600px;
        background: white;
        position: relative;
        input[type=text]{
            margin-top: 0px;
            margin-bottom: 0px;
            width: 520px;
            display: inline-block;
            font-size: 22px;

    }
    margin-top: 10px;
    margin-bottom: 10px;

    }
    .plus {
        width: 29px;
        height: 28px;
        background: url("../../img/plus.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
    }
    .video-link {
        width: 29px;
        height: 28px;
        background: url("../../img/chain-link.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
    }
    
    .date-icon {
        width: 29px;
        height: 28px;
        background: url("../../img/date-icon.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
        }

    
    .help-right {
        width: 340px;
        height: 480px;
        padding: 20px;
        background: white;
        float: left;
        margin-left: 60px;
        h1 {
            color: #F37926;
            margin-top: 0;
        }    
        span {
            color: #999999;
            font-size: 18px;
        }
    }
    .images-span {
        width: 400px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 110px;
    }
    .upload-image {
        width: 200px;
        height: 60px;
        display: inline-block;
        background: #E9E9E9;
        color: #F37926;
        text-transform: capitalize;
        font-size: 21px;
        padding-left: 40px;
        
    }
    .upload-icon {
        
        position: absolute;
        height: 24px;
        width: 21px;
        background: url("../../img/upload.png");
        margin-left: -20px;

    }
    .image-gallery {
        width: 730px;
        height: 460px;
        margin-top: 40px;
        margin-bottom: 80px;
        overflow-y: hidden;
        padding-top: 20px;
        border-bottom: 1px #f4f4f4 solid;
        div {
            display: inline-block;
            position: relative;
            height: 130px;
            width: 150px;
            margin-right: 20px;
            margin-bottom: 30px;
            background: white;
            img{
                width: 150px;
                height: 100px;
            }
            span {
                text-align: center;
            }&::before {
                width: 20px;
                height: 20px;
                background: white;
                cursor: pointer;
                position: absolute;
                border-radius: 50%;
            }
            
            .close{
                height: 15px;
                width: 18px;
                position: absolute;
                background-color: white;
                border-radius: 50%;
                top: -8px;
                right: -8px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                font-size: 11px;
                padding-bottom: 3px;
                border: 1px solid #F37926;
                color: #F37926;
                font-weight: 500;
            }

        }

    }
    
    .review-gallery {
        width: 600px;
        height: 120px;
        padding-top: 10px;       
        overflow-y: hidden;
        padding-bottom: 50px;
                div {
            display: inline-block;
            position: relative;
            height: 110px;
            width: 140px;
            margin-right: 5px;
            margin-bottom: 5px;
            background: white;
            img{
                width: 140px;
                height: 90px;
            }
            span {
                text-align: center;
                 font-size: 12px;
            }
            
            .close{
                height: 15px;
                width: 18px;
                position: absolute;
                background-color: white;
                border-radius: 50%;
                top: -8px;
                right: -8px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                font-size: 11px;
                padding-bottom: 3px;
                border: 1px solid #F37926;
                color: #F37926;
                font-weight: 500;
            }

        }
    }
    table{
        margin-top: 20px;
        width: 1170px;
        th{
            background: #F37926;
            color: white;
            height: 40px;
            padding-left: 3%;
            font-weight: 300;
        }
        tr{
            background: #EFEFEF;
            color: black;
            height: 50px;
            .delete{
                color: black;
            }
           
        }
        td{
            height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 3%;
            text-align: left;
            &:nth-child(5), &:nth-child(6){
                text-align: center;
            }
            span {
                display: inline-block;
                font-size: 12px;
                margin-left: 7px;
            }
            
        }
    }
    

    
    hr {
        width: 630px;
        display: inline-block;
        border-color: orange;
        border-style: solid;
    }
    
    .reward-container {
        margin-left: 30px;
    }
    
    .reward-header {
        display: inline-block;
        font-size: 40px;
        margin-right: 12px;
    }
    
    .reward-button {
        margin-left: 20px;
        display:  inline-block;
        font-size: 22px;
        i {
            margin-right: 10px;
        }   
    }
    
    .reward-add {
        width: 200px;
    }
    
    .select-custom {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
        color: #AEAEB1;
        .arrow{
            position: absolute;
            width: 24px;
            color: white;
            font-weight: bold;
            font-size: 22px;
            right: 7px;
            top: 10px;
            pointer-events: none;
            z-index: 2;
        }
        .short{
            width: 270px;
        }

      &:before {
        content: '';
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background: #F37926;
        position: absolute;
        pointer-events: none;
        display: block;
        z-index: 1;
      }
      select {
        position: relative;
        width: 600px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        color: #AEAEB1;
        border: none;
        outline: none;
        font-size: 22px;
          padding-left: 5px;
        margin: 0;
        height: 50px;
          option:first-child {
                color: #AEAEB1;
            }
      }
    }
    
    .short-select {
        width: 270px;
    }
    
    .discover-popular {
        width: 1240px;
        text-align: center;
        position: relative;
        height: 1000px;
        margin-top: 150px;
        .big-left {
            height: 80px;
            width: 40px;
            position: absolute;
            left: -60px;
            top: 45%;
            display: block;
            background: url("../../img/big-left.png");
        }
        .big-right {
            height: 80px;
            width: 40px;
            position: absolute;
            right: -60px;
            top: 45%;
            display: block;
            background: url("../../img/big-right.png");
        }
    }
    
    .discover-recent {
        width: 1240px;
        text-align: center;
        position: relative;
        height: 560px;
    }
    
    .campaign-list{
        width: 1100px;
        .item{
            width: 295px;
            height: 410px;
            background-color: white;
            position: relative;
            display: block;
            float: left;
            margin-right: 60px;
            margin-bottom: 40px;
            img{
                width: 295px;
                height: 160px;
            }
            h2 {
                color: #F37926;
                font-weight: 500;
                font-size: 19px;
                text-align: left;
                padding-left: 20px;
                margin-bottom: 0px;
            }
            h3 {
                font-weight: 500;
                font-size: 15px;
                text-align: left;
                padding-left: 20px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .gray-flame {
                width: 20px;
                height: 30px;
                background: url("../../img/flame.png");
                background-repeat: no-repeat;
                display: inline-block;
                float: left;
                margin-right: 10px;
                background-size: 20px 30px;
            }
            span {
                float: left;
                margin-left: 10px;
                display: inline-block;
                .percentage {
                    padding-top: 10px;
                }
                b{
                    font-weight: 500;
                }
            }
            progress{
                width: 100px;
                margin-top: 12px;
                margin-left: 10px;
                float: left;
                display: inline-block;;
                -webkit-appearance: none;
                border: 1px #9C9C9C solid;
                background: white;
                &::-webkit-progress-bar {
                    background-color: white;
                }
                &::-webkit-progress-value {
                    background: #F37926;
                }
                &::-moz-progress-bar {
                    background-color: #F37926;
                }
            }
            .percentage {
                margin-left: 0px;
                sub {
                    float: left;
                    margin-top: 8px;
                    margin-left: 5px;
                    font-weight: 500;
                }
                
            }
            .progress {
                height: 40px;
                width: 100%;
                float: left;
                b{
                    float: left;
                    font-size: 16px;
                    
                }
                span {
                    font-size: 17px;
                }
            }
            .raised {
                height: 40px;
                width: 100%;
                margin-top: 7px;
                font-size: 17px;
                .fa {
                    font-size: 24px;
                    float: left;
                    margin-left: 10px;
                    color: #989898;
                }
                span {
                    margin-left: 20px;
                }
                b {
                    float: left;
                    display: inline-block;
                    margin-left: 12px;
                }
                sub {
                        float: left;
                        margin-top: 9px;
                        margin-left: 10px;
                        font-weight: 500;
                }
            }
            .duration {
                height: 40px;
                width: 100%;
                .fa {
                    font-size: 24px;
                    float: left;
                    margin-left: 10px;
                    color: #989898;
                }
                b {
                    float: left;
                }
                sub {
                    float: left;
                    margin-top: 10px;
                    margin-left: 10px;
                    font-weight: 500;
                }
                
                span {
                    margin-left: 9px;
                }
            }
            
            .item-link {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: #F37926;
                bottom: 0;
                right: 0;
                display: block;
                position: absolute;
                margin: 20px;
                .fa{
                    color: white;
                    padding: 10px;
                }
            }
            .delete-link {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: white;
                bottom: 0;
                right: 40px;
                display: block;
                position: absolute;
                margin: 20px;
                border: 1px solid #F37926;
                .fa {
                    padding: 10px;
                }
            }
        }
    }
    
    .project-list {
        .item{
            width: 290px;
            height: 410px;
            background-color: white;
            position: relative;
            display: block;
            float: left;
//            margin-right: 20px;
//            margin-bottom: 20px;
            margin: 10px;
            
            img {
                width: 290px;
                height: 155px;
            }
            h2 {
                color: #F37926;
                font-weight: 500;
                font-size: 19px;
                text-align: left;
                padding-left: 20px;
                margin-bottom: 0px;
            }
            h3 {
                font-weight: 500;
                font-size: 15px;
                text-align: left;
                padding-left: 20px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .gray-flame {
                width: 20px;
                height: 30px;
                background: url("../../img/flame.png");
                background-repeat: no-repeat;
                display: inline-block;
                float: left;
                margin-right: 10px;
                background-size: 20px 30px;
            }
            span {
                float: left;
                margin-left: 10px;
                display: inline-block;
                .percentage {
                    padding-top: 10px;
                }
                b{
                    font-weight: 500;
                }
            }
            progress{
                width: 100px;
                margin-top: 12px;
                margin-left: 10px;
                float: left;
                display: inline-block;;
                -webkit-appearance: none;
                border: 1px #9C9C9C solid;
                background: white;
                &::-webkit-progress-bar {
                    background-color: white;
                }
                &::-webkit-progress-value {
                    background: #F37926;
                }
                &::-moz-progress-bar {
                    background-color: #F37926;
                }
            }
            .percentage {
                margin-left: 0px;
                sub {
                    float: left;
                    margin-top: 8px;
                    margin-left: 5px;
                    font-weight: 500;
                }
                
            }
            .progress {
                height: 40px;
                width: 100%;
                float: left;
                b{
                    float: left;
                    font-size: 16px;
                    
                }
                span {
                    font-size: 17px;
                }
            }
            .raised {
                height: 40px;
                width: 100%;
                margin-top: 15px;
                font-size: 17px;
                .fa {
                    font-size: 24px;
                    float: left;
                    margin-left: 10px;
                    color: #989898;
                }
                span {
                    margin-left: 20px;
                }
                b {
                    float: left;
                    display: inline-block;
                    margin-left: 12px;
                }
                sub {
                        float: left;
                        margin-top: 9px;
                        margin-left: 10px;
                        font-weight: 500;
                }
            }
            .duration {
                height: 40px;
                width: 100%;
                margin-top: 15px;
                .fa {
                    font-size: 24px;
                    float: left;
                    margin-left: 10px;
                    color: #989898;
                }
                b {
                    float: left;
                }
                sub {
                    float: left;
                    margin-top: 10px;
                    margin-left: 10px;
                    font-weight: 500;
                }
                
                span {
                    margin-left: 9px;
                }
            }
            
            .item-link {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: #F37926;
                bottom: 0;
                right: 0;
                display: block;
                position: absolute;
                margin: 20px;
        
                div {
                    background: url("../../img/long-arrow.png");
                    height: 18px;
                    width: 18px;
                    background-size: 18px 18px;
                    margin: 7px;
                    
                }
            }
        }
    }
    .more-popular {
    clear: both;
    display: inline-block;
    float: right;
    margin-right: 10px;
    background: #F37926;
    color: white;
    font-size: 12px;
    width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    margin-top: 30px;   
        .long-arrow{
            background: url("../../img/long-arrow.png");
            width: 30px;
            height: 20px;
            float: right;
            margin-right: 20px;
            margin-right: 80px;
        }
    }
    .campaign-span{
        width: 640px;
        float: left;
        margin-right: 80px;
    }
    .start-campaign {
        margin-left: 10px;
        h1 {
            font-size: 39px;
        }
        &span{
            width: 640px;
            display: inline-block;
            float: left;
        }
        &button {
            margin-left: 70px;
        }
    }
    
}

.footer-container {
    width: 100%;
    height: 220px;
    background-color: #434443;
    clear: both;
    margin-top: 130px;
}

footer {
    margin-top: 55px;
    width: 600px;
    margin: 0px auto;
    height: 220px;
    background-color: #434443;
    color: white;
    
    .footer-logo {
        height: 120px;
        width: 280px;
        background-color: white;
        float: left;
        background: url("../../img/footer-logo.png");
        float: none;
        display: inline-block;
        vertical-align: middle;
        background-position: center right;
        background-repeat: no-repeat;
    }
    
    .footer-logotext {
        clear: both;
        width: 100%;
        margin-top: 55px;
        display: block;
        float: left;
    }
    
    .copyright-text {
        float: none;
        display: inline-block;
        margin-left: 20px;
        font-size: 14px;
        font-weight: 300;
    }
    
    .social-media {
        color: #828282;
        float: none;
        display: inline-block;
        padding-left: 60px;
        padding-left: 175px;
        background-repeat: no-repeat;
        font-size: 17px;
        .twitter {
            background: url("../../img/footer-twitter.png");
            display: inline-block;
            width: 35px;
            height: 35px;
            vertical-align: middle;
            margin-left: 25px;
        }
        .facebook {
            background: url("../../img/footer-facebook.png"); 
            display: inline-block;
            width: 35px;
            height: 35px;
            vertical-align: middle;
        }
        .google-plus {
            background: url("../../img/footer-google-plus.png");
            display: inline-block;
            width: 35px;
            height: 35px;
            vertical-align: middle;
            background-repeat: no-repeat;
            
        }
    }
    
}

.fire-container {
    
}