html body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.header-full-width-opaque {
    position: relative;
    z-index: 101;
    width: 100%;
    background-color: #434443;
    .user {
        background-color: #434443;
    }
}

.header-container {
    width: 100%;
    display: block;
    height: 120px;
    /*background-color: #434443;*/
    clear: both;
}

.header-opaque {
    background-color: #434443;
}

.nav-container {
    position: relative;
    width: 100%;
    background-color: #F37926;
    height:  40px;
    clear: both;
    color: white;
    nav {
        width: 1300px;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        span {
            vertical-align: middle;
            display: inline-block;
            margin-top: 5px;
            margin-left: 15px;
            &:first-child {
                margin-left: 60px;
            }
        }
        a {
            color: $colorWhite;
        }
        img {
            margin-top: 5px;
            margin-left: 20px;
        }
        .greater-than {
            margin-top: 5px;
        }
    }
}

.main-container {
    width: 100%;
    padding-top: 50px;
    background-color: #E9E9E9;
    clear: both;
    position: relative;
    .content-main {
        width: $width;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        h1 {
            font-weight: 300;
            &.page-help {
                padding: 0 10px;
            }
        }
        span {
            font-weight: 100;
            &.page-help {
                padding: 0 10px;
            }
        }
    }
    .page-help {
        padding: 0 5em;
        @media screen and (max-width: 992px) {
            padding: 0 10px;
        }
    }
}
a {
    color: #F37926;
}

main {
    margin-top: 50px;
    width: 1320px;
    text-align: left;
    padding-left: 85px;
    font-weight: 300;
    background-color: #E9E9E9;
    color: black;
    margin: 0px auto;
    text-align: justify;
    button {
        background: #F37926;
        padding: 5px 8px;
        border-radius: 6px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #F37926;
        width: 220px;
        height: 50px;
    }
    h1 {
        font-weight: 300;
        color: #F37926;
    }
    span {
        display: block;
        .guideline-text {
            width: 860px;
        }
    }

    select {
        border: 0;
        width: 600px;
        height: 50px;
    }

    .content-left {
        float: left;
        margin-bottom: 115px;
        width: 820px;
        margin-left: 30px;
    }

    .campaign-review {
        width: 600px;
        margin-right: 170px;
        margin-bottom: 120px;
        label {
            color: #F37926;
            margin-left: 10px;
        }
    }

    .get-started{
        margin-bottom: 80px;
    }
    .content-right {
        float: left;
        height: 625px;
        width: 390px;
        background-color: #D3D3D3;
        margin-top: 30px;
        margin-left: 70px;
    }

    .help-topics {
        float: left;
        display: inline-block;
        width: 320px;
        padding-left: 0px;
        padding-top: 15px;
        text-align: left;
        li {
            list-style: none;
            color: #F37926;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
            label {
                display: block;
            }
        }
        .active {
            background: white;
        }

    }

    .steps{
        width: 660px;
        padding-left: 0px;
      text-align: center;
      li{
        display: inline-block;
        color: white;
        padding: 0 26px;
        position: relative;
        z-index: 2;
        &.active{
          a{
              background: #F37926;
              display: none;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: inline-block;
              }
          }
        }

          &.checked{
            a{
              background: #F37926;
              display: inline-block;
            &::after{
              border-top: 3px solid #F37926;
            }
              &:first-child {
                  display: none;
              }
            }
          }
        a{
          color: white;
          padding: 3px;
          background: #AFAFAF;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: none;
              &:first-child {
                  display: inline-block;
              }
          &::after {
                content: '';
                border-top: 3px solid #AFAFAF;
                position: absolute;
                width: 100%;
                z-index: -1;
                top: 12px;
                right: 31px;
          }
        }
        &:first-child{
          a{
            &::after{
              display:none;
            }
          }
        }

      }
    }

    .topic-description {
        background: white;
        display: inline-block;
        float: left;
        width: 840px;
        padding: 30px;
        img {
            padding-top: 10px;
            width: 840px;
            height: 340px;
        }
    }

    .cancel{
        background-color: #E9E9E9;
        border: 1px solid #F37926;
        color: #F37926;
        border-radius: 5px;
        width: 145px;
        height: 50px;
        margin-right: 5px;
        font-size: 22px;

    }

    .next {
        background-color: #F37926;
        border: 1px solid #F37926;
        color: white;
        border-radius: 5px;
        width: 145px;
        height: 50px;
        margin: 0 5px;
        font-size: 22px;
    }

    .area-custom {
        position: relative;
        .small-plus {
            width: 20px;
            height: 20px;
            background: url("../../img/plus.png");
            position: absolute;
            bottom: 25px;
            right: 10px;
            background-size: 20px 20px;
            cursor: pointer;
        }
    }

    textarea {
        color: #AEAEB1;
        height: 180px;
        padding-left: 10px;
        width: 588px;
        resize: none;
        border: 0;
        font-size: 22px;

    }

    textarea:disabled{
        background-color: #E0E0E0;
    }

    .field-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tags {
        width: 600px;
        background: white;
        position: relative;
        input[type=text]{
            margin-top: 0px;
            margin-bottom: 0px;
            width: 520px;
            display: inline-block;
            font-size: 22px;

    }
    margin-top: 10px;
    margin-bottom: 10px;

    }
    .plus {
        width: 29px;
        height: 28px;
        background: url("../../img/plus.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
    }
    .video-link {
        width: 29px;
        height: 28px;
        background: url("../../img/chain-link.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
    }

    .date-icon {
        width: 29px;
        height: 28px;
        background: url("../../img/date-icon.png");
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 10px;
        margin-left: 28px;
        top: 0px;
        background-repeat: no-repeat;
        }


    .help-right {

//        width: 340px;
//        height: 480px;

        padding: 20px;
        background: white;
        float: left;
        margin-left: 60px;
        h1 {
            color: #F37926;
            margin-top: 0;
        }
        span {
            color: #999999;
            font-size: 18px;
        }
    }
    .images-span {
        width: 400px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 110px;
    }
    .upload-image {
        width: 200px;
        height: 60px;
        display: inline-block;
        background: #E9E9E9;
        color: #F37926;
        text-transform: capitalize;
        font-size: 21px;
        padding-left: 40px;

    }
    .upload-icon {

        position: absolute;
        height: 24px;
        width: 21px;
        background: url("../../img/upload.png");
        margin-left: -20px;

    }
    .image-gallery {
        width: 730px;
        height: 460px;
        margin-top: 40px;
        margin-bottom: 80px;
        overflow-y: hidden;
        padding-top: 20px;
        border-bottom: 1px #f4f4f4 solid;
        div {
            display: inline-block;
            position: relative;
            height: 130px;
            width: 150px;
            margin-right: 20px;
            margin-bottom: 30px;
            background: white;
            img{
                width: 150px;
                height: 100px;
            }
            span {
                text-align: center;
            }&::before {
                width: 20px;
                height: 20px;
                background: white;
                cursor: pointer;
                position: absolute;
                border-radius: 50%;
            }

            .close{
                height: 15px;
                width: 18px;
                position: absolute;
                background-color: white;
                border-radius: 50%;
                top: -8px;
                right: -8px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                font-size: 11px;
                padding-bottom: 3px;
                border: 1px solid #F37926;
                color: #F37926;
                font-weight: 500;
            }

        }

    }

    .review-gallery {
        width: 600px;
        height: 120px;
        padding-top: 10px;
        overflow-y: hidden;
        padding-bottom: 50px;
                div {
            display: inline-block;
            position: relative;
            height: 110px;
            width: 140px;
            margin-right: 5px;
            margin-bottom: 5px;
            background: white;
            img{
                width: 140px;
                height: 90px;
            }
            span {
                text-align: center;
                 font-size: 12px;
            }

            .close{
                height: 15px;
                width: 18px;
                position: absolute;
                background-color: white;
                border-radius: 50%;
                top: -8px;
                right: -8px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                font-size: 11px;
                padding-bottom: 3px;
                border: 1px solid #F37926;
                color: #F37926;
                font-weight: 500;
            }

        }
    }
    table{
        margin-top: 20px;
        width: 1170px;
        th{
            background: #F37926;
            color: white;
            height: 40px;
            padding-left: 3%;
            font-weight: 300;
        }
        tr{
            background: #EFEFEF;
            color: black;
            height: 50px;
            .delete{
                color: black;
            }

        }
        td{
            height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 3%;
            text-align: left;
            &:nth-child(5), &:nth-child(6){
                text-align: center;
            }
            span {
                display: inline-block;
                font-size: 12px;
                margin-left: 7px;
            }

        }
    }

    hr {
        width: 630px;
        display: inline-block;
        border-color: orange;
        border-style: solid;
    }

    .reward-container {
        margin-left: 30px;
    }

    .reward-header {
        display: inline-block;
        font-size: 40px;
        margin-right: 12px;
    }

    .reward-button {
        margin-left: 20px;
        display:  inline-block;
        font-size: 22px;
        i {
            margin-right: 10px;
        }
    }

    .reward-add {
        width: 200px;
    }

    .select-custom {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
        color: #AEAEB1;
        .arrow{
            position: absolute;
            width: 24px;
            color: white;
            font-weight: bold;
            font-size: 22px;
            right: 7px;
            top: 10px;
            pointer-events: none;
            z-index: 2;
        }
        .short{
            width: 270px;
        }

      &:before {
        content: '';
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background: #F37926;
        position: absolute;
        pointer-events: none;
        display: block;
        z-index: 1;
      }
      select {
        position: relative;
        width: 600px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        color: #AEAEB1;
        border: none;
        outline: none;
        font-size: 22px;
          padding-left: 5px;
        margin: 0;
        height: 50px;
          option:first-child {
                color: #AEAEB1;
            }
      }
    }

    .short-select {
        width: 270px;
    }
}
