.nav-full-width-bg {
    position: absolute;
    top: 120px;
    z-index: 101;
    @media screen and (max-width: 992px) {
        position: static;
    }
}

.outdoor {
    background: #E9E9E9;
}

.body-content {
    &.outdoor-header-content {
        @media screen and (max-width: 992px) {
            z-index: 9999;
        }
    }
    &.outdoor-main-content {
        @media screen and (max-width: 992px) {
            padding-top: 8em;
        }
    }
    .outdoor-content {
        padding-bottom: 0;
        background: -moz-linear-gradient(top,  rgba(125,185,232,0) 23%, rgba(164,206,239,0) 46%, rgba(233,233,233,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 23%,rgba(164,206,239,0) 46%,rgba(233,233,233,1) 100%);
        background: linear-gradient(to bottom,  rgba(125,185,232,0) 23%,rgba(164,206,239,0) 46%,rgba(233,233,233,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 );
        @media screen and (max-width: 992px) {
            top: 0px;
        }
        .image-header {
            img {
                width: 100%;
            }
        }
        .display-feature {
            .content-feature-grid {
                display: block;
                .content-video {
                    width: 100%;
                    @media screen and (max-width: 992px) {
                        width: 80%;
                        margin: 0 auto;
                        padding-top: 35px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .content-title {
                    text-align: center;
                    padding-top: 20px;
                    h1 {
                        font-weight: 100;
                        font-size: 3.7em;
                        margin-bottom: 10px;
                        @media screen and (max-width: 992px) {
                            font-size: 6.5vw;
                            padding: 0 30px;
                        }
                    }
                }
            }
        }
    }
}

.outdoor-body {
    background: #E9E9E9;
    padding-top: 1em;
    .no-margin {
        margin: 0;
    }
    .outdoor-body-content {
        width: $width;
        border-top: 1px solid #e4e4e4;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        .outdoor-menu {
            margin: 0;
            padding: 0;
            border-bottom: 2px solid $how-it-works-color;
            li {
                list-style: none;
                display: inline-block;
                @media screen and (max-width: 992px) {
                    display: block;
                    border-bottom: 1px solid #DCDCDC;
                    &:last-child {
                        border-bottom: 0;
                    }
                }
                a {
                    display: block;
                    color: #888585;
                    padding: 18px 48px;
                    font-size: 18px;
                    span {
                        border: 1px solid #4d4d4d;
                        border-radius: 20px;
                        padding: 5px 12px;
                        margin: 0 17px;
                    }
                    &.current {
            			color: $how-it-works-color;
                        font-weight: 500;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 46px;
                            left: 99px;
                            border-bottom: 15px solid $how-it-works-color;
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            @-moz-document url-prefix() {
                                top: 65px;
                            }
                            @media screen and (max-width: 992px) {
                                display: none;
                            }
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            left: 100px;
                            top: 49px;
                            border-bottom: 14px solid #E9E9E9;
                            border-left: 14px solid transparent;
                            border-right: 14px solid transparent;
                            @-moz-document url-prefix() {
                                top: 67px;
                            }
                            @media screen and (max-width: 992px) {
                                display: none;
                            }
                        }
            		}
                }
            }
        }

        .outdoor-body-detail {
            width: 100%;
            float: left;
            .outdoor-body-description {
                padding: 30px 28px 30px 40px;
                @media screen and (max-width: 992px) {
                    padding: 0 20px;
                }
                img {
                    width: 100%;
                }
                p {
                    font-weight: 100;
                    line-height: 19px;
                    padding: 5px 0;
                    text-align: justify;
                }
            }
            .outdoor-body-sidebar {
                padding-left: 30px;
                padding-right: 15px;
                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 0 20px;
                }
                .outdoor-statistics {
                    width: 100%;
                    background: #fff;
                    table {
                        width: 100%;
                        tr {
                            td {
                                padding: 10px 17px;
                                &:first-child {
                                    color: #777777;
                                    width: 30%;
                                    text-align: right;
                                    font-size: 14px;
                                    border-right: 1px solid #B3B1B1;
                                }
                                &:last-child {
                                    width: 70%;
                                    text-align: left;
                                    font-weight: 500;
                                    font-size: 16px;
                                }
                            }
                            &:first-child {
                                td {
                                    padding-top: 30px;
                                }
                            }
                            &:nth-child(2) {
                                td {
                                    padding-bottom: 50px;
                                }
                            }
                            &:nth-child(4) {
                                td {
                                    &:first-child {
                                        vertical-align: top;
                                    }
                                    span {
                                        &.green {
                                            color: #097c09;
                                            display: block;
                                            font-weight: 700;
                                        }
                                        &.orange {
                                            color: $how-it-works-color;
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                td {
                                    border-bottom: 1px solid #B3B1B1;
                                    padding-bottom: 30px;
                                }
                            }
                        }
                    }
                }
                .outdoor-support {
                    text-align: center;
                    h3 {
                        background: url(../../img/firefunder_assets_pledges_firefunder_icon.png) 10px 0 no-repeat;
                        border-bottom: 2px solid $how-it-works-color;
                        color: $how-it-works-color;
                        padding: 8px 0;
                    }
                    .outdoor-support-content {
                        width: 100%;
                        text-align: left;
                        float: left;
                        padding: 15px 0 25px;
                        border-bottom: 1px dashed $how-it-works-color;
                        &:last-child {
                            padding-top: 20px;
                            border-bottom: 0px;
                        }
                        .outdoor-support-detail {
                            @media screen and (max-width: 992px) {
                                padding-right: 0;
                                width: 74%;
                            }
                            h2 {
                                background: url(../../img/firefunder_assets_pledges-pledge-icon.png) 0 0 no-repeat;
                                margin: 0;
                                font-weight: 100;
                                padding-left: 45px;
                                span {
                                    color: #097c09;
                                    font-weight: 700;
                                }
                            }
                            p {
                                font-weight: 100;
                                font-size: 14px;
                                padding-left: 45px;
                                padding-top: 15px;
                                @media screen and (max-width: 992px) {
                                    text-align: justify;
                                }
                            }
                        }
                        .outdoor-support-icon {
                            height: 82px;
                            background: url(../../img/firefunder_assets_pledges-pledge-button.png) center 0 no-repeat;
                            color: #F47926;
                            padding-top: 87px;
                            text-align: center;
                            @media screen and (max-width: 992px) {
                                width: 24%;
                            }
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
