.main-container {
    padding-top: 0;
    .top-more {
        position: absolute;
        height: 70px;
        width: 135px;
        background: url("../../img/upside-down-more.png");
        left: 0;
        right: 0;
        top: -1px;
        margin: 0px auto;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.popular-main-content {
    width: $width;
    margin: 0 auto;
    padding-bottom: 8em;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    h1 {
        color: $how-it-works-color;
        font-weight: 100;
        padding-bottom: 1em;
    }
    .discover-popular {
        text-align: center;
        position: relative;
        margin-top: 150px;
        .big-left {
            height: 80px;
            width: 40px;
            position: absolute;
            left: -60px;
            top: 45%;
            display: block;
            background: url("../../img/big-left.png");
        }
        .big-right {
            height: 80px;
            width: 40px;
            position: absolute;
            right: -60px;
            top: 45%;
            display: block;
            background: url("../../img/big-right.png");
        }
    }

    .discover-recent {
        text-align: center;
        position: relative;
        @media screen and (max-width: 767px) {
            padding-top: 5em;
        }
    }

    .project-list {
        margin: 0;
        .item {
            width: 24%;
            background-color: $colorWhite;
            position: relative;
            display: block;
            margin: 10px 7px;
            padding: 0;
            @media screen and (max-width: 767px) {
                width: 47%;
            }
            @media screen and (max-width: 470px) {
                width: 97%;
            }
            &:first-child {
                margin-left: 0;
                @media screen and (max-width: 767px) {
                    margin-left: 7px;
                }
            }
            &:last-child {
                margin-right: 0;
                @media screen and (max-width: 767px) {
                    margin-right: 7px;
                }
            }
            img {
                width: 100%;
            }
            h2 {
                color: #F37926;
                font-weight: 500;
                font-size: 19px;
                text-align: left;
                padding-left: 20px;
                margin-bottom: 6px;
            }
            h3 {
                font-weight: 500;
                font-size: 15px;
                text-align: left;
                padding-left: 20px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .gray-flame {
                width: 20px;
                height: 30px;
                background: url("../../img/flame.png");
                background-repeat: no-repeat;
                display: inline-block;
                float: left;
                margin-right: 10px;
                background-size: 20px 30px;
            }
            span {
                float: left;
                display: inline-block;
                .percentage {
                    padding-top: 10px;
                }
                b{
                    font-weight: 500;
                }
            }
            progress{
                width: 100px;
                margin-top: 12px;
                margin-left: 10px;
                float: left;
                display: inline-block;;
                -webkit-appearance: none;
                border: 1px #9C9C9C solid;
                background: white;
                &::-webkit-progress-bar {
                    background-color: white;
                }
                &::-webkit-progress-value {
                    background: #F37926;
                }
                &::-moz-progress-bar {
                    background-color: #F37926;
                }
            }
            .percentage {
                margin-left: 0px;
                sub {
                    float: left;
                    margin-top: 8px;
                    margin-left: 5px;
                    font-weight: 500;
                }

            }
            .progress {
                height: 40px;
                width: 100%;
                background: transparent;
                @include box-shadow(inset, 0, 0, 0, rgba(0, 0, 0, 0.5));
                padding-left: 20px;
                margin-bottom: 14px;
                b {
                    float: left;
                    font-size: 16px;
                    font-weight: 700;
                    padding-right: 5px;
                    margin-top: -1px;
                }
                span {
                    font-size: 14px;
                }
            }
            .raised {
                height: 40px;
                font-size: 14px;
                padding-left: 20px;
                .fa {
                    font-size: 24px;
                    float: left;
                    color: #989898;
                    width: 18px;
                    height: 27px;
                    margin-top: -7px;
                    background: url(../../img/dollar-gray.png);
                }
                span {
                    margin-left: 20px;
                }
                b {
                    float: left;
                    display: inline-block;
                    margin-left: 12px;
                    margin-top: -2px;
                    font-weight: 700;
                    font-size: 16px;
                    padding-right: 5px;
                }
            }
            .duration {
                height: 40px;
                width: 100%;
                padding-left: 20px;
                padding-bottom: 7em;
                .fa {
                    float: left;
                    color: #989898;
                    width: 21px;
                    height: 21px;
                    margin-top: -2px;
                    background: url(../../img/time-gray.png);
                }
                b {
                    float: left;
                    font-weight: 700;
                    font-size: 16px;
                    padding-right: 5px;
                    margin-top: -1px;
                }
                span {
                    margin-left: 9px;
                    font-size: 14px;
                }
            }

            .item-link {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: #F37926;
                bottom: 0;
                right: 0;
                display: block;
                position: absolute;
                margin: 20px;

                div {
                    background: url("../../img/long-arrow.png");
                    height: 18px;
                    width: 18px;
                    background-size: 18px 18px;
                    margin: 7px;

                }
            }
        }
    }
    .more-popular-container {
        text-align: right;
        width: 100%;
        float: left;
        margin-top: 2em;
        @media screen and (max-width: 767px) {
            text-align: center;
            margin-top: 1em;
        }
        .more-popular {
            background: $how-it-works-color url("../../img/long-arrow.png") 90% 7px no-repeat;
            clear: both;
            display: inline-block;
            margin-right: 10px;
            color: white;
            font-size: 12px;
            padding: 10px 62px 10px 20px;
            text-transform: lowercase;
        }
    }
}
