.signup-container {
    width: 100%;
    float: left;
    background: #E9E9E9;
    padding: 3em 0 4em;
    h1 {
        color: $how-it-works-color;
        font-weight: 100;
    }
    .registration-form {
        height: 580px;
        text-align: center;
        @media screen and (max-width: 767px) {
            padding-left: 40px;
        }
        form {
            padding: 1em 0;
        }

        input[type=text],
        input[type=password] {
            height: 50px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0;
            font-size: 22px;
            color: #AEAEB1;
            font-weight: 100;
        }

        input[type=checkbox] {
            margin-left: 0;
            background: #F37926;
            position: static;
        }
        input[type=submit] {
            background-color: #F37926;
            border: 0;
            border-radius: 5px;
            height: 50px;
            color: white;
            font-size: 22px;
            font-weight: 100;
            width: 100%;
            margin-top: 20px;
        }

        .checkbox .control-indicator {
            left: 30em;
            top: 4px;
            top: -1px;
            width: 2rem;
            height: 2rem;
            @media screen and (max-width: 992px) {
                left: 0;
            }
        }
        input[type=text]:disabled {
            background-color: #E0E0E0;
        }
        input[type=text] {
            padding-left: 10px;
            height: 50px;
            border: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 22px;
            color: #AEAEB1;
        }

        .signup-slogan {
            margin-bottom: 30px;
            color: #4d4d4d;
        }

        .terms-of-use {
            margin: 20px 0;
            font-weight: 500;
            font-size: 14px;
            a {
                color: $how-it-works-color;
            }
        }
    }
}
