html .container-fluid {
    a {
        color: $colorWhite;
    }
    .navbar-header {
        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }
    .main-width {
        width: $width;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            width: 100%;
            height: 100%;
        }
        .logo {
            padding-bottom: 77px;
            a.navbar-brand {
                padding: 0;
                img {
                    width: 90%;
                    background: $colorWhite;
                    padding: 7px 55px;
                }
            }
        }
        .user-details {
            @media screen and (max-width: 767px) {
                margin: 0;
                padding: 0;
            }
            .user-welcome {
                text-align: right;
                padding: 22px 35px 5px 0;
                display: block;
                @media screen and (max-width: 767px) {
                    display: none;
                }
                label {
                    font-weight: 100;
                    font-size: 22px;
                    color: $colorWhite;
                    padding-right: 15px;
                }
                a {
                    font-size: 22px;
                    font-weight: 100;
                    border-left: 2px solid #929292;
                    padding-left: 15px;
                    &:hover {
                        text-decoration: none;
                        color: $colorWhite;
                    }
                }
            }
            .navbar-nav {
                border-top: 2px solid #929292;
                padding: 0 35px 0 5px;
                @media screen and (max-width: 767px) {
                    border-top: 0;
                    padding: 0;
                }
                li > a {
                    color: $colorWhite;
                    font-size: 22px;
                    font-weight: 100;
                    padding: 11px 15px;
                    &.current {
                        color: $how-it-works-color;
                    }
                }
            }
        }
        .navbar-nav {
            @media screen and (max-width: 767px) {
                margin: 0;
                padding: 0;
            }
            li > a {
                &.search-icon {
                    width: 42px;
                    height: 40px;
                    display: block;
                    background: url("../../img/firefunder_assets_search.png");
                    margin-top: 40px;
                    margin-right: 20px;
                    text-indent: -9999px;
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                &.logout-icon {
                    width: 54px;
                    height: 60px;
                    display: block;
                    background: url("../../img/firefunder_assets_logout.png") 18px 0px no-repeat;
                    margin-top: 30px;
                    margin-left: 15px;
                    margin-right: 15px;
                    padding-top: 46px;
                    color: white;
                    text-align: center;
                    font-size: 13px;
                    @media screen and (max-width: 767px) {
                        color: $colorWhite;
                        font-size: 22px;
                        font-weight: 100;
                        padding: 11px 0;
                        width: auto;
                        height: auto;
                        text-align: left;
                        text-transform: lowercase;
                        background: transparent;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    min-height: auto;
    background-color: transparent;
    .transparent-header {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.34) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.34) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.34) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#57000000',GradientType=0 );
    }
    .header-main-color {
        background: #424242;
    }
}

.logo-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        width: 50%;
        float: left;
        a {
            padding: 2px 0px 2px 30px;
            img {
                width: 50%;
            }
        }
    }
}

html .navbar-toggle {
    margin-right: 25px;
}

.logo-desktop {
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
