
$imgPath: "../../img";
$colorWhite: #fff;
$background: #0C0910;

$purple1: #A393BF;
$purple2: #9882AC;
$purple3: #73648A;
$purple4: #453750;

$width: 1320px;
$min-width: 1000px;
$how-it-works-color: #F47926;